<%= turbo_frame_tag "followings" do %>
    <section class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
    <div class="bg-white p-6 rounded-lg shadow-lg w-full max-w-lg">
        <h1>All followers</h1>
        <% @followings.each do |user| %>
            <div class="my-5">
                <div class="flex items-center gap-2">
                    <% if user.followed.profile && user.followed.profile.photo_of_profile %>
                        <%= image_tag(url_for(user.followed.profile.photo_of_profile),class: 'w-10 h-10 rounded-full object-cover') %>
                    <% else %>
                        <img class=" w-10 h-10 rounded-full" src="https://via.placeholder.com/150" alt="User Avatar">
                    <% end %>
                    <span><%= user.followed.name %></span>;
                </div>
            </div>
        <% end %>
        <%= link_to "Close", posts_path, class: "bg-red-500 text-white py-2 px-4 rounded-lg hover:bg-red-600 transition" %>
    </div>
    </section>
<% end %>