<div class="flex gap-2">
    <img class="w-10 h-10 rounded-full mb-6" src="https://via.placeholder.com/150" alt="User Avatar">
    <div>
        <span class="font-bold gap-1"><%= comment.user.name%>:</span>
        <p><%= comment.description%></p>
    </div>
</div>